h1, h2 {
	font-family: "Comic Sans MS";
	text-align: center;
}

p {
	margin: auto;
	text-align: center;
}

/* Navbar Author: W3Schools License: Unlisted URL: https://www.w3schools.com/css/css_navbar.asp*/
ul.menu {
	list-style-type: none;
	margin: auto;
	padding: 0;
	max-width: 30em;
	overflow: hidden;
	background-image: linear-gradient(yellow,orange);
	border: 3px solid white;
	text-align: center;
	
}

.menu li {
	display: flex inline;
}

.menu li a {
	padding: 0.5em;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	width: auto;
}

img {
	border: 3px solid white;
	display: block;
	margin: auto;
	margin-top: 1em;
}

div.side_menu {
	display: none;
}

body {
	background-image: linear-gradient(red,green,blue,violet);
}